---
layout: default
title: Home of the devsquad team
---

<div class="posts">
  {% for post in paginator.posts %}
  <article class="post">
    <h1 class="post-title">{{ post.title }}</h1>
    <div class="post-subtitle">
      <div class="avatar">
        <img class="image" src="/public/img/avatar/{{ post.author-avatar }}.png" alt="avatar {{ post.author }}">
        <div>
          <div class="name">{{ post.author-name }}</div>
          <div class="title">{{ post.author-jobtitle }}</div>
        </div>
      </div>
      <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date_to_string }}</time>
    </div>
    {{ post.content }}
  </article>

  {% endfor %}
</div>

<h2>Latest posts</h2>
<ul>
{% for post in site.posts %}
   <li>{{ post.date | date_to_string }}  <a href="{{post.url | prepend:site.baseurl }}">{{ post.title }}</a></li>
{% endfor %}
</ul>


<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
