---
layout: default
---

<article class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-subtitle">

    <div class="avatar">
      {% assign staff_member = site.members | where: 'abbrev', page.author | first %}
      <img class="image" src="/public/img/avatar/{{ staff_member.abbrev }}.png" alt="avatar {{ staff_member.abbrev }}">
      <div>
        <div class="name">{{ staff_member.name }}</div>
        <div class="title"><a href="https://github.com/{{ staff_member.github }}">@{{ staff_member.github }}</a> {{ page.author-jobtitle }}</div>
      </div>
    </div>

    <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ page.date | date_to_string }}</time>
  </div>
  {{ content }}
</article>

{% if site.related_posts != empty %}
<aside class="related">
  <h3>Related posts</h3>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
    <li>
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
        <small>
          <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time>
        </small>
      </a>
    </li>
    {% endfor %}
  </ul>
</aside>
{% endif %}
